.container {
  display: flex;
  justify-content: center;
}

nav {
  min-height: 10vh;
  background: #af2020;
  color: white;
  width: 50%;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.nav-links {
  right: 15px;
  position: relative;
  width: 20%;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 20px;
  margin: 5px;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  opacity: 1;
  border: 3px solid #ff7a59;
}

.nav-links:hover {
  opacity: 0.5;
}
